<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}AI Signature Fraud Detection{% endblock %}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <nav>
        <h2>AI Signature Fraud Detection</h2>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- JS -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
