{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">

    <div class="card">

        <div class="hero">
            <h1>AI Signature Fraud Detection is Live!</h1>
            <p>Detect Fraudulent Signatures with Intelligent AI Analysis.</p>
        </div>

        <form action="/verify" method="POST" enctype="multipart/form-data">

            <div class="upload-section">
                <label>Reference Signature:</label>
                <input type="file" name="ref" accept="image/*" required>
            </div>

            <div class="upload-section">
                <label>Test Signature:</label>
                <input type="file" name="test" accept="image/*" required>
            </div>

            <button type="submit">Verify Signature</button>

        </form>

        <!-- Result Will Be Injected Here Dynamically -->

        <div id="result-container"></div>

    </div>

</div>


{% endblock %}
